.results-view {
  overflow-y: scroll;
  height: calc(100vh - 200px);
}

.results-view::-webkit-scrollbar {
  display: none;
}

.scape-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, var(--scape-col-width));
  margin: 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: var(--scape-row-height);
}

.scape-box {

}

.result-kana {

}

.result-kanji {
  text-align: center;
}

.result-english {
  text-align: right;
}

.scape-row-2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, var(--scape-col-width-1));
  grid-template-rows: repeat(2, 30px);
  margin: 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: var(--scape-row-height);
  margin: 30px 0px;
}

.scape-row-3 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, var(--scape-col-width-1));
  grid-template-rows: repeat(2, 30px);
  margin: 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: var(--scape-row-height);
  margin: 30px 0px;
}

.scape-row-4 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, var(--scape-col-width-1));
  grid-template-rows: repeat(2, 30px);
  margin: 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: var(--scape-row-height);
  margin: 30px 0px;
}

.scape-row-2-inner div {
  float: left;
}

.scape-box-2 {
  text-align: left;
}

.result-kana-2 {
  font-size: 24px;
}

.result-kanji-2 {
  font-size: 24px;
  text-align: right;
}

.result-kana-3 {
  font-size: 24px;
}

.result-english-3 {
  text-align: right;
  font-size: 22px;
}

.result-kana-4 {
  font-size: 24px;
}

.result-english-4 {
  font-size: 22px;
  text-align: right;
}

.result-kanji-4 {
  text-align: right;
}
